<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="tpaycom\magento2basic\Model\Tpay" type="Snowdog\Hyva\Checkout\TPay\Override\Payment\Method\TPay" />
</config>
