<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Hyva\Checkout\Model\Magewire\Payment\PlaceOrderServiceProvider">
        <arguments>
            <argument name="placeOrderServiceList" xsi:type="array">
                <item name="Tpay_Magento2"
                      xsi:type="object">Snowdog\Hyva\Checkout\TPay\Magewire\Payment\PlaceOrderServiceProvider
                </item>
                <item name="Tpay_Magento2_Cards"
                      xsi:type="object">Snowdog\Hyva\Checkout\TPay\Magewire\Payment\PlaceOrderServiceProvider
                </item>
                <item name="generic"
                      xsi:type="object">Snowdog\Hyva\Checkout\TPay\Magewire\Payment\PlaceOrderServiceProvider
                </item>
            </argument>
        </arguments>
        <plugin name="hyva-snowdog-tpay-payment-names"
                type="Snowdog\Hyva\Checkout\TPay\Plugin\GenericPaymentName" />
    </type>
    <type name="Hyva\CompatModuleFallback\Model\CompatModuleRegistry">
        <arguments>
            <argument name="compatModules" xsi:type="array">
                <item name="hyva-magento2-snowdog-tpay" xsi:type="array">
                    <item name="original_module" xsi:type="string">tpaycom_magento2basic</item>
                    <item name="compat_module" xsi:type="string">Snowdog_HyvaCheckoutTPay</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>